[
  {
    "name": "Forth dictionary",        // Give a name to your test in TrustInSoft CI
    "files": ["version_2/test_dictionary.c", "version_2/dictionary.c", "version_2/dictionary.h", "version_2/operations.h", "version_2/operations.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  }
]
